.app-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

nav {
    display: flex;
    justify-content: space-between;
}

.nav-bar-element {
    padding: 20px;
}

p, h1, h2, button {
    font-family: 'Fragment Mono', monospace;
    color: #04BFAD;
}

.title {
    padding: 20px;
}

.home-content {
    text-align: center;
    padding: 50px;
    margin-top: 90px;
    margin-bottom: 90px;
}

.about-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 100px;
    margin-top: 90px;
    margin-bottom: 90px;
}

.projects-content {
    padding: 50px;
    margin-top: 90px;
    margin-bottom: 90px;
}

.about-text {
    padding-left: 80px;
}

.about-text p, .about-text h1 {
    text-align: justify;
}

#about-picture {
    width: 20%;
    box-shadow: 10px 10px #387373;
}

.project-wrapper {
    display: flex;
    justify-content: space-between;
}

.project-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 10px;
}

.project-object {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: #01403A;
    width: 30%;
    height: 550px;
}

.project-object p, .project-object h2, .project-object img {
    color: #E4F2E7;
    padding: 0px 10px 10px 20px;
}

#demo-picture {
    padding: auto;
    max-width: 90%;
    max-height: 330px;
}

.contact-content {
    padding: 80px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-top: 90px;
    margin-bottom: 50px;
}

.contact-content p {
    padding-top: 20px;
    padding-bottom: 20px;
}

#contact-link {
    padding: 10px;
}

#contact-picture {
    width: 30%;
    box-shadow: 10px 10px #387373;
}
body {
    background-color: #012626;
}

button {
    background-color: #01403A;
    border: 1px solid #01403A;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}

a {
    text-decoration: none;
    color: #04BFAD;
}

#nav-link p:hover {
    color: #E4F2E7;
}

#contact-link i:hover {
    color:#E4F2E7;
}

button:hover {
    color: #E4F2E7;
    background-color: #387373;
}

.nav-bar-element:hover {
    color: #01403A;
}

.project-object:hover {
    box-shadow: 10px 10px #387373;
}
